

#outer{
    width:90%;
    max-width:600px;
    background:#fff;
    margin:0 auto;
}

#cover{
    border:2px solid #111;
    padding:15px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
}



.main{
    table-layout:fixed;
    width:94%;
    border:0;
    border-collapse:collapse;
    margin:0 auto;
}



.main td{
    padding:0 8px;
    vertical-align:middle;
    border:0;
}

.main input{
    width:100%;border:1px solid rgb(204, 149, 149);
    margin:2px 0;
    padding:0 2%;
    height:22px;
    text-align:right;
}


.ac{
    text-align:center
}

.b{
    font-weight:bold
}

.main select{
    width:100%;border:
    1px solid #ccc;
    margin:2px 0;
    background:#fff;
    height:22px
}

.w50{
    width:50%
}

.main button{
    width:100%;
    font-weight:bold;
    margin:3px 0
} 
